@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    max-width: 80%;
    margin: auto;
    margin-top: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
	display: block;
}
.code {
    margin: -3px -3px 5px;
}

hr {
	border: 2px solid black;
	margin-top: 2%;
	margin-bottom: 2%;
}

footer {
	text-align: center;
}

a.navlink {
    font-size: 20px;
}
